{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="h-screen flex items-center justify-center">
		<div class="container max-w-md">

			<div class="flex flex-col items-center justify-center mb-8">
				<twig:ux:Icon name="lucide:receipt" class="w-16 h-16 mx-auto mb-4 text-[#155DFC]"/>
				<h1 class="text-4xl font-bold text-center">Connectez-vous</h1>
				<p>Ou<a href="{{ path('app_register') }}" class="text-blue-500 hover:underline">
						créez un compte gratuitement.</a>
				</p>

			</div>

			<div class='container-form w-full py-8 px-10 max-w-md bg-white border rounded-lg border-gray-200 shadow-md'>

				
				<form method="post" class='flex flex-col'>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ logout_path() }}">Logout</a>
						</div>
					{% endif %}

					
					<label for="username">Adresse Email</label>
					<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control  h-10 mb-6 border rounded-md border-gray-200" autocomplete="email" required autofocus>
					<label for="password">Mot de passe</label>
					<input type="password" name="_password" id="password" class="form-control bg-white h-10 mb-4 border rounded-md border-gray-200" autocomplete="current-password" required>
					<input
					type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

					{#
					            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					            See https://symfony.com/doc/current/security/remember_me.html
					
					            <div class="checkbox mb-3">
					                <input type="checkbox" name="_remember_me" id="_remember_me">
					                <label for="_remember_me">Remember me</label>
					            </div>
					        #}

					<button class="btn btn-lg btn-primary text-white bg-blue-500 w-full h-10 rounded-md" type="submit">
						Se connecter
					</button>
				</form>
		
			</div>
		</div>
	</section>

{% endblock %}
