<div{{attributes}}>
	<!-- component HTML -->

	<div class='flex flex-col items-center gap-6 mb-15'>
		<h1 class='text-2xl font-bold text-black'>AJOUTER UN PRODUIT OU SERVICE</h1>
		{{ form_start(this.formView, {
            attr: { 'data-action': 'live#action:prevent',
                    'data-live-action-param': 'saveProduct'
                    } }) 
        }}
		{{ include('product/_form.html.twig', { form: this.formView, button_label: 'Enregistrer' }) }}
		{{ form_end(this.formView) }}
	</div>

	<div class='flex max-w-full justify-center'>
		<h1 class='text-2xl font-bold text-black'>Produits & Services existants</h1>

	</div>
	<div class="border border-gray-200 rounded-md py-4 bg-white shadow-sm w-full overflow-x-auto">
		<table class="table-auto w-full">
			<thead class='border-b border-gray-200'>
				<tr>
					<th class='px-4 py-2 text-left'>Nom</th>
					<th class='px-4 py-2 text-left'>Description</th>
					<th class='px-4 py-2 text-left'>Prix unitaire</th>
					<th class='px-4 py-2 text-left'>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in this.getAllProducts() %}
					<tr>
						<td class='px-4 py-2 align-middle'>{{ product.name }}</td>
						<td class='px-4 py-2 align-middle'>{{ product.description }}</td>
						<td class='px-4 py-2 align-middle'>{{ product.price }}€/{{ product.unit.value }}</td>

						<td class='flex gap-4 px-4 mt-1 py-2 align-middle whitespace-nowrap'>
							<a href="{{ path('app_product_edit', {'id': product.id}) }}"
							 class="text-blue-500 mt-1 hover:text-blue-700">{{ ux_icon('lucide:edit-2') }}</a>
							<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                <button class="btn text-red-500 hover:text-red-700">{{ ux_icon('lucide:trash-2') }}</button>
                            </form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
